*{
margin:10px auto;

}

.box1{
	background-color: grey;
	width: 100%
}
.box2{
	background-color:#C5C5C5;
	width: 100%
}
.box3{
	background-color: #FFFF8F;
	width: 100%
}


@media only screen and (max-width: 480px){
	.escritorio, .tablet {
		display: none;
	}	
}
@media only screen and (min-width: 481px){
	.phone, .escritorio{
	display: none; 
	}
}
@media only screen and (min-width: 1024px){
	.phone, .tablet{
		display: none;
	}
	.escritorio
	{
		display: block;
	}
}