
.container{
	padding: 8px;
}
	.header{
		background-color: green;
		height: 130px;
	}
	.navegator{
		background-color: blue;
		height: 300px;
		margin-top: 10px;
	}
	.maincontent{
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: red;
		height: 397px;
	}
	.yellow{
		background-color: yellow;
	}
	.footer{
		background-color: purple;
	}
@media only screen and (max-width: 680px){
	.header{
		width: 100%;
		display: block;
	}
	.navegator{
		display: none;
	}
	.maincontent{
		text-align: center;
		display: block;
		width: 100%;
	}
	.yellow{
		display: inline-block;
		width:96%;
		margin: 10px;
		margin-top: 20px;
		height: 16%;
	}
	.footer{

		display:block;
		width: 95%;
		margin: 10px;
		height: 17%;
	}
}

@media only screen and (min-width: 681px){
	.header{

		width: 100%;
		display: block;
	}
	.navegator{
		display: none;
	}
	.maincontent{

		text-align: left;
		width: 100%;
		display: block;
	}
	.yellow{
		display: inline-block;
		width:43%;
		margin: 10px;
		height: 28%
	}
	.footer{
		display:block;
		width: 97%;
		margin: 10px;
		height: 27%
	}
}

@media only screen and (min-width: 1024px){
	.header{

		width: 100%;
	}
	.navegator{
		display: inline-block;
		vertical-align: top;
		width: 23%;
	}
	.maincontent{
		text-align: center;
		display: inline-block;
		width: 74%;
		margin-left: 20px;
	}
	.yellow{
		display: inline-block;
		width:30%;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 40%;
	}
	.footer{
		display:block;
		width: 95%;
		margin: 20px;
		height: 40%;
	}
}